<h1>LogIn</h1>

<form action="/users/create-session" method="post">
    <input type="email" name="email" id="email" placeholder="Enter Email" required>
    <input type="password" name="password" id="password" placeholder="Enter Password" required>
    <button type="submit">Login</button>
</form>